[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/oblitum/rainbow.git
